.root {
    padding: 2%;
    background-color: rgb(159, 201, 255);
}

.inputStyle {
    border: 2px solid rgb(214, 247, 162);
    border-radius: 4px;
    background-color: rgb(223, 239, 255);
}

.checkWeather {
    padding: 3px 10px;
    border: 2px solid rgb(214, 247, 162);
    border-radius: 4px;
}

.subscrMessage {
    font-size: 20px;
    text-align: center;
    color: rgb(80, 33, 33);
}

.blockIcons {
    display: none;
    /* flex-direction: column; */
}
@media(max-width:510px) {
    .blockIcons {
        display: flex;
    }
    .items-end {
        align-items: center;
    }
    .blockIcons > .mr-\[40px\] {
       margin-right: 0;
    }
}